* {
     box-sizing: border-box; /* Para que el margen y el padding (espacio entre el contenido del elemento y su borde) se cuenten por igual */
     background-color: #FDD700; 
 }

body {    
    margin: auto;
    overflow-x: hidden; /* Para eliminar los scrollbar en caso de pasarnos del tamaño de pantalla */
    overflow-y: hidden; /* Para eliminar los scrollbar en caso de pasarnos del tamaño de pantalla */
}

h4, .a-txt  {    
    line-height: 1.5; /* Interlineado */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000; /* Color de fuente */    
    text-decoration: none;
}

h5 {
    font-family: 'Roboto';
    font-weight: lighter;
    color: #00000F;
}

/*==================================================================
                                SECTION 
==================================================================*/

.texto {
    width: 28%;
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 25px; /* Tamaño de fuente de 35 pixeles */
    z-index: 2;
}

img.img {
    position: absolute;
    left: 50%;
    top: 5%;
    z-index: 1;
}

/*==================================================================
                                Medias
==================================================================*/
/*
* {
    background-color: lightblue;
}
*/

/*========================== max-height ==========================*/

@media screen and (max-height: 920px){  
    .img.img {
        top: -4%;
    }
}

@media screen and (max-height: 820px){  
    .img.img {
        top: -4%;
        width: 860px;
    }
}

@media screen and (max-height: 720px){  
    .img.img {
        top: -6%;
        width: 760px;
    }
}

/*=========================== max-width ==========================*/

@media screen and (max-width: 1500px){  
    .img.img {
        left: 35%;
    }
}

@media screen and (max-width: 1100px) {  
    .img.img {
        left: 20%;
    }
}

@media screen and (max-width: 800px) {
    .texto {
        top: 20%;
        width: 70%;
        font-size: 20px;
    }
    
    .img.img {
        top: 40%;
        left: 10%;
        width: 620px;
    }
}

@media screen and (max-width: 650px) {
    .img.img {
        top: 45%;
        left: 0%;
        width: 520px;
    }
}

@media screen and (width: 375px) and (height: 667px) {
    .img.img {
        top: 40%;
        left: -5%;
        width: 420px;
    }
}